#sugerencias-container, .sugerencias-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#sugerencias,
#sugerenciasLiga,
#sugerencias-pais,
#sugerencias-equipo,
#sugerencias-pais1,
#sugerencias-pais2,
#sugerencias-posicion,
#sugerencias-user
 {
    position: absolute;
    padding: unset;
    margin: unset;
    z-index: 10;
    width: 100%;
} 

#sugerencias::-webkit-scrollbar,
#sugerenciasLiga::-webkit-scrollbar,
#sugerencias-pais::-webkit-scrollbar,
#sugerencias-equipo::-webkit-scrollbar,
#sugerencias-pais1::-webkit-scrollbar,
#sugerencias-pais2::-webkit-scrollbar,
#sugerencias-posicion::-webkit-scrollbar,
#sugerencias-user::-webkit-scrollbar
 {
    display: none !important;   
}

#sugerencias-posicion li{
    gap: 5px;
}
#sugerencias-posicion strong{
    font-size: small;
}
.suggestion-item {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid var(--color-primario);
    cursor: pointer;
    /*background: linear-gradient(
        to bottom,
        color-mix(in srgb, var(--color-primario) 30%, transparent),
        color-mix(in srgb, var(--color-secundario) 30%, transparent)
    );*/
    background: var(--color-secundario);
    border: 0.5px solid rgb(255, 255, 255);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);

}

.suggestion-item .fi{
    font-size: xx-large;
    border-radius: 100%;
}

.suggestion-item:first-child{
    border-radius: 20px 20px 0px 0px;
}

.suggestion-item:last-child{
    border-radius: 0px 0px 20px 20px;
}

.suggestion-item:only-child{
    border-radius: 20px;
}

.suggestion-item:hover {
    background-color: var(--color-texto);
    color: var(--color-primario);
}

p{
    margin-bottom: unset;
}

.suggestion-item:hover .jugadora-info p{
    color: var(--color-primario);
}

.jugadora-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.jugadora-info {
    display: flex;
    flex-direction: column;
}

.equipo-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.equipo-info {
    display: flex;
    flex-direction: column;
}

@media (max-width:680px){
    .jugadora-info strong{
        font-size: x-small;
    }
}